.services{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100vh;
   margin-top: 5rem;
   margin-bottom: 5rem;
   padding-inline: 0;
   max-width: 1080px;
}

.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.awesome>:nth-child(1){
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bold;
    z-index: 2;
}
.awesome>:nth-child(2){
    font-size: 2.5rem;
    color: var(--orange);
    font-weight: bold;
    z-index: 2;
}

.awesome>:nth-child(3){
    font-size: 1rem;
    z-index: 2;
    color: var(--black);
    margin-top: 1rem;
}

.s-button{
    width: 8rem;
    margin-top: 2rem;
    z-index: 2;
}
.s-blur{
    position: absolute;
    width: 20rem;
    height:20rem;
    border-radius: 50%;
    background: #3EEFE5;
    filter: blur(200px);
    top: 5rem;
    left: 20rem;
    z-index: -1;
}

.cards{
    position: relative;
}

.cards>*{
    position: absolute;
}
.first-card{
    left: -10rem;
    top: -11rem;
    background-color: blueviolet;
    z-index: 10;
}

.second-card{
    left: -22rem;
    top: -4rem;
    background-color: blueviolet;
    z-index: 10;
}

.third-card{
    left: -10rem;
    top: 1rem;
    background-color: blueviolet;
    z-index: 10;
}
